extends layout
block content
  h1 #{title}
  form(method="POST",action="/article/create")
    .form-group
      label Title
      input.form-control(type="text",name="title")
    .form-group
      label Author
      input.form-control(type="text",name="author")
    .form-group
      label Body
      textarea.form-control(type="text",name="body")
    br
    input.btn.btn-primary(type="submit",value="Submit")
